flask
opencv-python
certifi
chardet
dlib-19.19.0-cp37-cp37m-win_amd64.whl
click
cmake
decorator
dlib
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
numpy
opencv-python
Pillow
proglog
requests
tqdm
urllib3
wincertstore